* {
  box-sizing: border-box; 
}

@font-face {
  font-family: "greycliff-bold";
  src: url("fonts/GreycliffCF-Bold.woff2");
}

@font-face {
  font-family: "greycliff-medium";
  src: url("fonts/GreycliffCF-Medium.woff2");
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
  background-color: #000000;
  position: relative;
}

nav {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 7%;
}

.logo {
  font-size: 2rem;
  color: white;
}

.navlinks a {
  padding-left: 40px;

}

a {
  font-family: greycliff-medium;
  color: #cccccc;
  text-decoration: none;

}

a.active {
  color: #ffffff;
}

a:hover {
    color: white;
  }

li {
  font-family: greycliff-medium;
  display: inline;
}

button {
  height: 56px;
  width: 224px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  font-weight: greycliff-medium;
}

section {
  width: 100%;
  padding: 0 7%;
  display: flex;
  margin: 0;
  max-width: none;
  background-color: #000000;
  height: 100vh;
}

section:nth-of-type(2n) {
      background-color: #333333;
    }

.intro {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .intro {
    flex-flow: row;
  }
  .intro-text {
  margin-bottom: 112px;
  width: 100%;
}

.intro-img {
  width: 100%;
}
}

.intro-text {
  margin-bottom: 112px;
  width: 60%;
}

.intro-img {
  width: 40%;
}

.second {

}

.work {

}

img {
  max-width: 100%;
}

h1 {
  font-family: greycliff-bold;
  font-size: 4.2rem;
  line-height: 1.2;
  display: block;
  color: white;
  font-weight: 300;
  margin-bottom: 32px;
}

p {
  font-family: greycliff-medium;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 500;
  color: #CCCCCC;
  margin-bottom: 32px;
}


footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #000000;
  color: white;
}